<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Noto+Serif+SC:wght@400;600;700&display=swap" rel="stylesheet">
<meta name="theme-color" content="#F1F1EF">
<meta name="color-scheme" content="light">
<link rel="stylesheet" href="{{ static_url }}css/app.css">
